<!-- ejs-mate: this file will now be inside the boilerplate as the "body"-->
<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All Campgounds</h1>
<div>
    <a class="btn btn-success mb-3" href="/campgrounds/new">Add Campground</a>
</div>
<% for (let campground of campgrounds) { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <!-- If a campground has any images -->
            <% if (campground.images.length) { %>
            <!-- show only the first image of that campground -->
            <img src="<%= campground.images[0].url %>" class="d-block w-100" alt="..." />
            <% } else {%>
            <!-- if the campground has no images, show this default image -->
            <img
                src="<%= 'https://res.cloudinary.com/drrm0uwdp/image/upload/v1671035324/YelpCampDefaults/defaultCampgroundImage_yoqhuj.jpg' %>"
                class="d-block w-100"
                alt="..." />
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location %></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
            </div>
        </div>
    </div>
</div>
<% } %>
<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN  %>';
    // this is a stringified JSON version of "campgrounds". It was put under key "features" because that is what the cluster map expects at clusterMap.js
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>
<script src="/javascripts/clusterMap.js"></script>